body{
    margin: 0;
    background-color: #171717;
    overflow-y: hidden;
    overflow-x: hidden;
}
#link_jogar {
    /* Inicia oculto */
    display: none;
 
    /* Cores e fundo */
    color: yellow;
    background: url(img/botao-jogar.png);
       
    /* Fonte */
    font-size: 20px;
    font-family: sans-serif;
    
    /* Sem sublinhado e com sombra */
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
       
    /* Posicionamento */
    position: absolute;
    left: 45%;
    top: 400px;

 }
 #link_menu{
    display: none;

    color: yellow;

    font-size: 20px;
    font-family: sans-serif;

    text-decoration: none;
    text-shadow: 2px 2px 5px black;

    position: absolute;
    left: 42%;
    top: 450px;

 }
#canvas_animacao{
    position: relative;
    left: 30%;
 }     