body{
    background-color: #171717;
    font-family: 'Karla', sans-serif;
}
h1{
    text-align: center;
}
.footer{
    text-align: center;
    color: white;
}
.footer a:active, a:hover, a:link, a:visited{
    color: white;
}
.fundinho{
    background-color: #E9ECEF;
    border-radius: 5px;
}
.fotos{
    color: #E9ECEF;
}
.para{
    text-align: center;
    padding: 40px;
}
.sobreimg{
    width: 150px;
    height: 150px;
}
.btnColor{
    background-color: rgb(31, 109, 101);
    color: white;  
}

.btnColor a:link, a:hover, a:visited, a:active{
    color: white;
}
.devs{
    text-align: center;
    margin: 0px 50px 0px 50px;
}