body{
    background-color: #171717;
    font-family: 'Karla', sans-serif;
}
h1{
    text-align: center;
}
.footer{
    text-align: center;
    color: rgb(150, 150, 153);
}
.fundinho{
    background-color: #E9ECEF;
    border-radius: 5px;
}
.fotos{
    color: #E9ECEF;
}
.para{
    text-align: center;
    padding: 40px;
}
.sobreimg{
    width: 150px;
    height: 150px;
}
.btnColor{
    background-color: #7ACAC2;
    color: white;  
}